.node-booth.view-mode-full {
  @include clearfix;
  .section-one {
    padding-bottom: 1em;
    text-align: center;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      @include grid-span(3, 1);
    }
  }
  .section-two {
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      @include grid-span(8.5, 4.5);
    }
    @include gallery;
  }
  .company-logo {
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  .category-link {
    display: inline-block;
    margin-bottom: .5em;
    padding-right: .5em;
  }
  .industry-link {
    font-weight: 700;
    margin-bottom: .5em;
  }
  .flag-outer {
    margin: 1em 0;
  }
  .company-address {
    margin: 1em 0;
    font-size: 90%;
  }

  .section-three {
    clear: both;
    padding-top: 2em;
    border-top: 1px solid #ccc;
  }
}