.event-full-node {
  @include clearfix;
  .section-one {
    padding-bottom: 1em;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
    }
  }
  .section-two {
    padding-top: 1.3em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.3em;
    text-transform: uppercase;
    margin-bottom: 2em;
  }

  .field--name-field-with {
    font-size: 2em;
  }

  .body-wrapper {
    margin-bottom: 1em;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      display: inline-block;
      width: 60%;
      vertical-align: top;
      margin-right:3%;
    }
  }

  .poster-wrap {
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      display: inline-block;
      width: 36%;
      vertical-align: top;
    }
  }

  .section-three {
    clear: both;
    
  }
}