header.site-header {
  @include clearfix;
  position: relative;
  z-index: 9;
  background: #222;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    height: 385px;
  }
  .wrap {
    padding: 2em 2em 0;
    max-width: 90%;
  }
}


.logo {
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    @include grid-span(4, 1);
  }
}

#block-artery-main-menu { 
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    @include grid-span(8, 5);
  }
}