<div class="event-full-node">
  <div class="section-one">
    {{ content.one }}
  </div>
  <div class="section-two">
    {{ content.two }}
  </div>
  <div class="section-three">
    {{ content.three }}
  </div>
  <div class="section-four">
    {{ content.four }}
  </div>
</div>